.speech-bubble {
	position: relative;
	background: #26325B;
    border-radius: .4em;
    padding: 15px;
    height: fit-content;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 1.094em solid transparent;
	border-right-color: #26325B;
	border-left: 0;
	border-top: 0;
	margin-top: -0.547em;
	margin-left: -1.094em;
}


.formWrapper{
    display: inline-flex;
    flex-direction: column;
    text-align: end;
}

.basic {
    display: inline-grid;
    padding: 1rem;
    border-radius: 1rem;    
    margin: 0.5rem;
    background-color: white;
    border: rgba(128, 128, 128, 0.2) 1px solid;
}

.ingested div label{
    margin-top: -8px;
}

.ingestedDiv div{
    display: inline-flex;
    align-content: stretch;
}



@media (max-width: 800px){
    .formWrapper{
        display: inline-flex;
        flex-direction: column;
        width: 95%;
        text-align: end;
    }
}


