
hr.hr-text {
    position: relative;
      border: none;
      height: 1px;
      background: #999;
  }
  
hr.hr-text::before {
      content: attr(data-content);
      display: inline-block;
      background: #ebf5f2;
      font-weight: bold;
      font-size: 0.85rem;
      color: #999;
      border-radius: 30rem;
      padding: 0.2rem 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .fb-login-button {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 20px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    background: #4267b2;
    color: #fff;
  }
  


